:root {
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --accent-color: #2196f3;
    --secondary-accent-color: #212121;
    --third-accent-color: #757575;
    --primary-logo-color-theme-light: #000000;
    --primary-logo-color-theme-dark: #ffffff;
    --fourth-accent-color: #F5F4FA;
}